
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<div class="media">
    <img class="mr-3" src="~/Public/waystar.png" alt="Waystar">
    <div class="media-body">
        <h5 class="mt-0">Waystar</h5>
        I a currently intern at Waystar as a .NET Developer. 
    </div>
</div>
<br/>

<div class="media">
    <img class="mr-3" src="~/Public/ius.png" alt="IUS">
    <div class="media-body">
        <h5 class="mt-0">IU Southeast</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
</div>
<br/>

<div class="media">
    <img class="mr-3" src="~/Public/mario.png" alt="Mario">
    <div class="media-body">
        <h5 class="mt-0">Super Mario 64 AI</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
</div>
<br/>

<div class="media">
    <img class="mr-3" src="~/Public/siskin.png" alt="Siskin Steel" width="200" height="200">
    <div class="media-body">
        <h5 class="mt-0">Siskin Steel</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
</div>
<br />

