@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_CardLayout.cshtml";
}
<p>
    The cool stuff I love to make includes video games, business simulations, websites, artificial intelligence and much more. I love making music and art in general really,
    and I have an insatiable scientific curiosity which is why I love software development because it is the marriage between science and art (me being pretentious). 
</p>

