
@{
    ViewBag.Title = "About";
}
@Html.ActionLink("Go back", "Index", "Home")
<h2>About</h2>
<div class="media">
    <img class="mr-3" src="~/Public/waystar.png" alt="Waystar">
    <div class="media-body">
        <h5 class="mt-0">Waystar</h5>
         Waystar is a leader in the revenue cycle technology industry. I currently intern there working as a .NET developer developing applications for internal use.
    </div>
</div>
<br/>

<div class="media">
    <img class="mr-3" src="~/Public/ius.png" alt="IUS">
    <div class="media-body">
        <h5 class="mt-0">IU Southeast</h5>
        IUS is a satillite campus for Indiana University located in New Albany, Indiana. I will recieve my BS in Computer Science with a minor in Mathematics from there in May 2019.
    </div>
</div>
<br/>

<div class="media">
    <img class="mr-3" src="~/Public/unity.jpg" alt="Unity3D">
    <div class="media-body">
        <h5 class="mt-0">Unity 3D</h5>
        Unity is a game development technology that I have around 2 years of serious experience with. I have one product currently on the Google Play store developed with Unity
            that you can find <a href="https://play.google.com/store/apps/details?id=com.SimonSaysGames.blorx">here</a>. My Capstone team is also using Unity to build our project described below.
    </div>
</div>
<br />

<div class="media">
    <img class="mr-3" src="~/Public/siskin.png" alt="Siskin Steel" width="200" height="200">
    <div class="media-body">
        <h5 class="mt-0">Siskin Steel</h5>
        Siskin is a steel company in Louisville that my Capstone team and I are developing software for. The software will simulate the loading of steel onto trucks in a low-risk environment so that employees can train and plan difficult loads.
            The software is expected to be completed in April of 2019.
    </div>
</div>
<br />

