@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_CardLayout.cshtml";
}

<p>
    <a href="https://github.com/AlreadyAsleep">
        <i class="fab fa-github icon-card"></i>
    </a>
    See my contribution to the open-source community and my growth as a developer
</p>
<p>
    <a href="https://www.linkedin.com/in/ben-heil-054074137/">
        <i class="fab fa-linkedin icon-card"></i>
    </a>
    Learn more about me as a professional and my interests in the world
</p>
<p>
    <a href="mailto:benheil@ius.edu">
        <i class="far fa-envelope icon-card"></i>
    </a>
    Email me the old fashioned way
</p>
