<div class="jumbotron jumbotron-fluid  bg-dark">
    <div class="container text-white">
        <h1 class="display-3">
            Ben Heil
        </h1>
        @if (ViewBag.Title != "Home Page")
        {
            <p class="lead">A developer who builds cool stuff</p>
        }
    </div>
</div>
<br />
