
@{
    ViewBag.Title = "Resume";
    Layout = "~/Views/Shared/_CardLayout.cshtml";
}

<ul>
    <li>Exceptional software developer with experience in various environments</li>
    <li>Excellent communication skills to both technical and non-technical disciplines</li>
    <li>Proven leadership skills with a track record of successfully completed projects</li>
</ul>


