
<div class="pong-body">
    <h1 class="pong-h1">PONG</h1>
    <h2 id="score" class="pong-h2" ></h2>
    <canvas id="game" class="pong-canvas" >

        <!--/where the script displays graphics/-->

    </canvas>
    @Scripts.Render("~/bundles/pong")
</div>



