
<div class="pong-body">
    <h1 class="pong-h1">PONG</h1>
    <h2 class="pong-h2" id="score"></h2>
    <canvas class="pong-canvas" id="game">

        <!--/where the script displays graphics/-->

    </canvas>
    @Scripts.Render("~/bundles/pong")
</div>



